* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

input::placeholder {
  padding-left: 15px;
}

input {
  padding-left: 10px;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.signup_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.signin_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input {
    width: 438px;
    height: 56px;
    gap: 10px;
    border-radius: 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.signup_btn {
    width: 438px;
    height: 56px;
    top: 680px;
    left: 645px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    border: 0;
    background: rgba(0, 71, 255, 1);
    color: white;
}

.signup_ssilka {
    color: rgba(0, 71, 255, 1);
    text-decoration: none;
    margin-top: 15px;
}

.signin_ssilka {
    color: rgba(0, 71, 255, 1);
    text-decoration: none;
    margin-top: 15px;
}

.signin_block h1 {
    margin-bottom: 20px;
}

.signup_block h1 {
    margin-bottom: 20px;
}

.nav {
    display: flex;
    gap: 21px;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.for_a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.something {
    padding: 25px;
    background: rgba(240, 240, 240, 1);
}

.nav_logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.logout_mail {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}










nav {
    display: flex;
    gap: 21px;
}

nav a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}


.emailssilka {
    text-decoration: none;
    color: rgba(0, 71, 255, 1);
    font-weight: bold;
}

.greeting {
    margin-bottom: 11px;
    margin-top: 44px;
}

.greeting_div {
    margin-bottom: 74px;
}

.wallets_js {
    width: 282px;
    height: 160px;
    gap: 0px;
    border-radius: 15px 0px 0px 0px;
    opacity: 0px;
    background: linear-gradient(84.37deg, #D7816A 2.27%, #BD4F6C 92.26%);
    border-radius: 15px;

}

.wallets {
    display: flex;
    gap: 24px;
    margin-bottom: 21px;
}

.watch_all_wallets {
    color: rgba(0, 71, 255, 1);
    font-weight: bold;
}

.about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(185, 192, 209, 1);
}

.id_sentfromwallet {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.category_summ {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.walletsadd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-top: 30px;
}

select {
    width: 438px;
    height: 56px;
    border-radius: 10px;
    opacity: 0px;
}

.addBtn {
    width: 438px;
    height: 56px;
    top: 680px;
    left: 645px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    border: 0;
    background: rgba(0, 71, 255, 1);
    color: white;
}

.card {
    position: relative;
    width: 282px;
    height: 160px;
    border-radius: 15px;
    border: 1px solid;
    background: linear-gradient(84.37deg, #D7816A 2.27%, #BD4F6C 92.26%);
    color: white;
}

.wallet_cont {
    display: grid;
    grid-template-columns: repeat(4, 282px);
    gap: 24px;
    justify-content: center;
}

.m_wal {
    margin-top: 20px;
    margin-bottom: 93px;
}

.h3 {
    margin-top: 19px;
    margin-left: 23px;
}

.p {
    position: absolute;
    left: 23px;
    bottom: 17px;
}

.addwal {
    width: 438px;
    height: 56px;
    gap: 0px;
    border-radius: 10px;
    color: white;
    border: 0;
    opacity: 0px;
    background-color:rgba(0, 71, 255, 1);
    margin-top: 44px;
}

.t_actions {
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.11px;
    text-align: left;
    margin-bottom: 10px;  
}

.addblc {
    border: 1px solid red;
}


.about_actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: rgba(185, 192, 209, 1);
    margin-bottom: 21px;
}

.id_and_wallet {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.categ_and_summ {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.user_mail {
    color: rgba(0, 71, 255, 1);
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: 20px;
}